<!doctype html>
<html lang="ru">
<head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>1</title>
	 <link rel="stylesheet" href="css/bootstrap.min.css">
	 <link rel="stylesheet" href="css/font-awesome.min.css">
	 <link href="css/styles.css" rel="stylesheet">
	<style>
		.content{
			height: 300px;
			overflow: auto;
		}
	</style>
	 <script src="js/vue.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="sample">
			<form @submit.prevent="formDone = true" v-if="!formDone">
				<div class="content alert alert-info" @scroll="onScroll">
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
				</div>
				<template v-if="scrollDone">
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" v-model="agree"> 
							Agree All
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" v-model="getSpam"> 
							Get Spam
						</label>
					</div>
					<template v-if="getSpam">
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" v-model="spamType" value="email"> 
								Email
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" v-model="spamType" value="phone"> 
								Phone
							</label>
						</div>
					</template>
					<hr>
					<button class="btn btn-primary" :disabled="!agree">
						Send Data
					</button>
				</template>
			</form>
			<div v-else>
				<table class="table table-bordered">
					<tr>
						<td>Agree All</td>
						<td>{{ agree ? 'Yes' : 'No' }}</td>
					</tr>
					<tr>
						<td>Get Spam</td>
						<td>{{ getSpam ? 'Yes' : 'No'  }}</td>
					</tr>
					<tr v-if="getSpam">
						<td>Spam type</td>
						<td>{{ spamType  }}</td>
					</tr>
				</table>
			</div> 
		</div>
	</div>
	<script>
		
		Vue.createApp({
			data: () => ({
				formDone: false,
				scrollDone: false,
				agree: false,
				getSpam: false,
				spamType: 'email'
			}),
			methods: {
				onScroll(e){
					let div = e.target;

					if(!this.scrollDone && (div.scrollHeight - div.clientHeight - div.scrollTop < 25)){
						this.scrollDone = true;
					}
				}
			}
		}).mount('.sample');

	</script>
</body>
</html>